<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="img/alexcgdesign.png" type="image/x-icon">
  <link routerLink="home.component.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>

<body>
  <header>
      <section class="textos-header">
          <h1>TORNEO DESPORTIVO </h1>
          <h2>2021</h2>
      </section>
      <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
              style="height: 100%; width: 100%;">
              <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: rgb(255, 255, 255);"></path>
          </svg></div>
  </header>
  <main>
      <section class="contenedor sobre-nosotros">
          <h2 class="titulo">Jovenes Promesas</h2>
          <div class="contenedor-sobre-nosotros">
              <img src="../../../assets/jugador1.jpg" alt="" class="imagen-about-us">
              <div class="contenido-textos">
                  <h3><span>1</span>Erling Haaland</h3>
                  <p>Erling Braut Haaland es un futbolista profesional noruego que juega como delantero en
                    el Borussia Dortmund de la Bundesliga y en la selección de Noruega.</p>
                  <h3><span>2</span>Kylian Mbappé</h3>
                  <p>Kylian Mbappé Lottin es un futbolista francés de ascendencia argelina y camerunesa. Juega como delantero y su equipo actual es el París Saint-Germain Football Club de la Ligue 1 de Francia.
                     Es internacional absoluto con la selección de Francia desde 2017.</p>
              </div>
          </div>
      </section>
      <section class="portafolio">
          <div class="contenedor">
              <h2 class="titulo">Torneos Deportivos</h2>
              <div class="galeria-port">
                  <div class="imagen-port">
                      <img src="../../../assets/champions.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>Champion League</p>
                      </div>
                  </div>
                  <div class="imagen-port">
                      <img src="../../../assets/Bundesliga.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>BundesLiga</p>
                      </div>
                  </div>
                  <div class="imagen-port">
                      <img src="../../../assets/serieA.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>Serie A</p>
                      </div>
                  </div>
                  <div class="imagen-port">
                      <img src="../../../assets/laliga.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>La liga</p>
                      </div>
                  </div>
                  <div class="imagen-port">
                      <img src="../../../assets/eurocopa.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>Euro Copa</p>
                      </div>
                  </div>
                  <div class="imagen-port">
                      <img src="../../../assets/copaAmerica.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>Copa America</p>
                      </div>
                  </div>
                  <div class="imagen-port">
                      <img src="../../../assets/premierLeague.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>Premier League</p>
                      </div>
                  </div>
                  <div class="imagen-port">
                      <img src="../../../assets/europaLeague.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>Europa League</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="clientes contenedor">
          <h2 class="titulo">Noticias</h2>
          <div class="cards">
              <div class="card">
                  <img src="../../../assets/jugador2.jpg" alt="">
                  <div class="contenido-texto-card">
                      <h4>Sergio Ramos</h4>
                      <p>Se retira del real mandril por no leer bien el contrato"Pendejo"</p>
                  </div>
              </div>
              <div class="card">
                  <img src="../../../assets/jugador3.jpg" alt="">
                  <div class="contenido-texto-card">
                      <h4>Christian Eriksen</h4>
                      <p>Jugador Danes sufre un paro cardiaco en partido de la Euro Copa.</p>
                  </div>
              </div>
          </div>
      </section>
      <section class="about-services">
          <div class="contenedor">
              <h2 class="titulo">Jugadores Destacados Del Año</h2>
              <div class="servicio-cont">
                  <div class="servicio-ind">
                      <img src="img/ilustracion1.svg" alt="">
                      <h3>Cristiano Ronaldo</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                  </div>
                  <div class="servicio-ind">
                      <img src="img/ilustracion4.svg" alt="">
                      <h3>Lionel Messi</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                  </div>
                  <div class="servicio-ind">
                      <img src="img/ilustracion3.svg" alt="">
                      <h3>N'Golo Kanté</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                  </div>
              </div>
          </div>
      </section>
  </main>
  <footer>
      <div class="contenedor-footer">
          <div class="content-foo">
              <h4>Número</h4>
              <p>+502 2216 0000</p>
          </div>
          <div class="content-foo">
              <h4>Email</h4>
              <p>pteo-2019183@kinal.edu.gt</p>
          </div>
          <div class="content-foo">
              <h4>Ubicación</h4>
              <p>6A Avenida 13-54, Cdad. de Guatemala 01007</p>
          </div>
      </div>
      <h2 class="titulo-final">&copy; 2021 TORNEO DEPORTIVO</h2>
  </footer>
</body>
